<html>
	<head></head>
	<body>
		This email is to notify you that the RichJanitor Watchfloor admin has counted at least 200 new users since your last invoice.
		Please go to <a href="{{ url('admin_invoices') }}">{{ url('admin_invoices') }}</a> to see the newest invoice.<br/>
		
		Thanks<br/><br/>
		Rich Janitor Support
	</body>
</html>