{% trans_default_domain 'AppBundle' %}
<div class="clearfix"></div>
        <!-- Footer Start -->
        <footer>
	        <div class="container">
			        <div class="privacy"><p><a href="{{ path('homepage') }}">Terms Of Service </a> <span>&#124;
		        	</span> <a href="#"> Privacy Policy </a> </p>
		        </div>  
		
	        	<div class="copyr"><span>RichJanitor Watchfloor</span> &copy; copyright 2017</div>
	        	
		        <ul class="social">  
		          <li> <a href="#" class="facebook"></a></li> 
		          <li> <a href="#" class="twitter"></a></li>
		          <li> <a href="#" class="googleplus"></a></li> 
		        </ul>
	        </div>
        </footer>
        <!-- Footer End -->